*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  font-family: Georgia;
  font-weight: 400;
}
.wrapper {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}
._container {
  max-width: 1200px;
  margin: 0 auto;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -50;
}
/* =========================================================================== */
.header {
  position: absolute;
  padding: 60px 0 0 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 6%;
  color: #f1cdb3;
}
.header__logo-subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  letter-spacing: 0.9px;
  color: #ffffff;
}

.menu__list {
  display: flex;
  gap: 35px;
}
.menu__list-item {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.menu__list-item:hover {
  cursor: pointer;
}
.active {
  border-bottom: solid #f1cdb3 3px;
}
/* MAIN-BLOCK=============================================== */
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block {
  position: relative;
  z-index: 2;
  padding-top: 180px;
}
.main-block__container {
  display: flex;
  align-items: center;
  gap: 42px;
}
.main-block__body {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
}
.main-block__title {
  max-width: 310px;
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
  color: #ffffff;
}
.main-block__text {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
/* ============================================== */
.button {
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 120%;
}
.orange-button {
  background-color: #f1cdb3;
}
.colorless-button {
  border: 2px solid #f1cdb3;
}
.section-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
/* ========About======================================================== */
.about-block {
  padding: 80px 0 100px 0;
}
.about-block__container {
  display: flex;
  align-items: center;
}

.about-block__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 50%;
}
.about-block__content {
  flex: 0 1 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-block__text {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #4c4c4c;
}
/* =====Friends========================================================= */

.friends-block {
  padding: 80px 0 100px 0;
  background-color: #f6f6f6;
}
.friends-block__title {
  text-align: center;
}
.friends-block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.friends-block__items {
  display: flex;
  gap: 90px;
}

.item {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}
/* ====HELP========================================================= */

.help {
  padding: 80px 87px 100px 87px;
}
.help__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.content__row1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 120px;
}
.content__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.content__icon {
  height: 60px;
}
.content__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.content__row2 {
  padding: 0 84px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 120px;
}
/* ======Donation============================= */
.donation-block {
  background-color: #f6f6f6;
}
.donation-block__container {
  padding: 80px 142px 100px 142px;

  display: flex;
  gap: 30px;
}

.donation-block__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.donation-block__subtitle {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-block__btn {
  color: #545454;
  padding: 10px 15px;
  border-radius: 9px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 115%;
  background-color: #f1cdb3;
}

.donation-block__text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
}
/* footer========================================================= */
.footer {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
.footer__container {
  padding-top: 40px;
  display: flex;
  gap: 160px;
}

.footer__content {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}

.content__title {
  color: #ffffff;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.content__description {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  align-items: center;
  gap: 20px;
}
